/*highlight color is #bcfe51*/

/*typography*/
h1 {
    font-family: "manrope";
    font-weight:bolder;
}


/*end typography*/

/*HEADER STYLES*/

/*icons*/
 .color:link {
    color: black;
}

.color:visited {
    color: black;
}

.color:hover {
    color: #bcfe51;

}



/*nav*/
.navbg {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bolder;
    background-color: #bcfe51;
}

/*CONTENT COLUMNS*/
.imgstyle {
    max-width: 100%;
    height: auto;
}

.right {
    background-color: #413D3D;
}

.height {
    height: 100%;
}

.borderfeel{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*END HEADER STYLE*/
